/*Import link for Shadows Into Light font and Space Grotesk font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Space+Grotesk:wght@300..700&display=swap');

/*Text styling*/

header{
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 20px;
}

h1{
    font-family: "Space Grotesk", serif;
    font-size: 60px;
}

h2{
    font-family: "Space Grotesk", serif;
    font-size: 40px;
}

h3{
    text-align: center;
    font-family: "Space Grotesk", serif;
    font-size: 20px;
}

section p{
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 20px;
}

a{
    font-family: "Space Grotesk", serif;
}

footer{
    font-family: "Space Grotesk", serif;
}

/*FORM*/

form{
    display: table;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

form input{
    font-family: "Space Grotesk", serif;
    font-size: 15px;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    transition: 0.3s ease-out;
}

textarea{
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    color: rgb(165, 165, 165);
    font-size: 15px;
    transition: 0.3s ease-out;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Create four equal columns that float next to eachother*/
.column {
    float: left;
    width: 25%;
}

/*Modal background*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/*Modal content*/
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/*Close button*/
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/*Hide slides by default*/
.mySlides {
    display: none;
}

/*Next and previous buttons*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/*Position "next" button to the right*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Add slightly transparent black background on hover